[Unit]
Description=Terrarium Monitoring System Module
After=multi-user.target

[Service]
User=grafana
WorkingDirectory=/var/lib/rpi-terrarium-controller/
Type=simple
ExecStart=/usr/bin/python3 -u ./heartbeat.py
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
