[Unit]
Description=Terrarium Monitoring System Module
After=multi-user.target
PartOf=terrarium-monitor.target

[Service]
User=pi
WorkingDirectory=/var/lib/rpi-terrarium-controller/sensors
Type=exec
ExecStart=/usr/bin/python3 -u ./HCSR04-Humidifier.py
#ExecStopPost=/bin/bash /var/lib/rpi-terrarium-controller/misc/hcsrExit.sh
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
